--
-- PostgreSQL database dump
--

\restrict MoEgyuUAjXqvwFE5rLNngm8xGteYSM2fddxmgjtXXmEDZkk2k7wKJ10Wgg8VxFY

-- Dumped from database version 16.4 (Debian 16.4-1.pgdg110+2)
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: tiger; Type: SCHEMA; Schema: -; Owner: crisis_user
--

CREATE SCHEMA tiger;


ALTER SCHEMA tiger OWNER TO crisis_user;

--
-- Name: tiger_data; Type: SCHEMA; Schema: -; Owner: crisis_user
--

CREATE SCHEMA tiger_data;


ALTER SCHEMA tiger_data OWNER TO crisis_user;

--
-- Name: topology; Type: SCHEMA; Schema: -; Owner: crisis_user
--

CREATE SCHEMA topology;


ALTER SCHEMA topology OWNER TO crisis_user;

--
-- Name: SCHEMA topology; Type: COMMENT; Schema: -; Owner: crisis_user
--

COMMENT ON SCHEMA topology IS 'PostGIS Topology schema';


--
-- Name: fuzzystrmatch; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS fuzzystrmatch WITH SCHEMA public;


--
-- Name: EXTENSION fuzzystrmatch; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION fuzzystrmatch IS 'determine similarities and distance between strings';


--
-- Name: postgis; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis WITH SCHEMA public;


--
-- Name: EXTENSION postgis; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION postgis IS 'PostGIS geometry and geography spatial types and functions';


--
-- Name: postgis_tiger_geocoder; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis_tiger_geocoder WITH SCHEMA tiger;


--
-- Name: EXTENSION postgis_tiger_geocoder; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION postgis_tiger_geocoder IS 'PostGIS tiger geocoder and reverse geocoder';


--
-- Name: postgis_topology; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis_topology WITH SCHEMA topology;


--
-- Name: EXTENSION postgis_topology; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION postgis_topology IS 'PostGIS topology spatial types and functions';


--
-- Name: incident_status; Type: TYPE; Schema: public; Owner: crisis_user
--

CREATE TYPE public.incident_status AS ENUM (
    'pending',
    'routing',
    'routed',
    'secondary_transfer',
    'completed',
    'cancelled'
);


ALTER TYPE public.incident_status OWNER TO crisis_user;

--
-- Name: reservation_status; Type: TYPE; Schema: public; Owner: crisis_user
--

CREATE TYPE public.reservation_status AS ENUM (
    'pending',
    'confirmed',
    'released',
    'expired'
);


ALTER TYPE public.reservation_status OWNER TO crisis_user;

--
-- Name: resource_type_enum; Type: TYPE; Schema: public; Owner: crisis_user
--

CREATE TYPE public.resource_type_enum AS ENUM (
    'icu_bed',
    'blood_a_pos',
    'blood_a_neg',
    'blood_b_pos',
    'blood_b_neg',
    'blood_o_pos',
    'blood_o_neg',
    'blood_ab_pos',
    'blood_ab_neg',
    'oxygen_cylinder',
    'ventilator',
    'specialist_trauma_surgeon',
    'specialist_cardiologist',
    'specialist_neurologist',
    'specialist_pediatric_er',
    'equipment_dialysis',
    'equipment_mri_trauma_ready',
    'equipment_ct_scanner'
);


ALTER TYPE public.resource_type_enum OWNER TO crisis_user;

--
-- Name: triage_category; Type: TYPE; Schema: public; Owner: crisis_user
--

CREATE TYPE public.triage_category AS ENUM (
    'high_velocity_polytrauma',
    'acute_coronary_syndrome_stemi',
    'acute_ischemic_stroke',
    'severe_respiratory_distress'
);


ALTER TYPE public.triage_category OWNER TO crisis_user;

--
-- Name: volatility_group; Type: TYPE; Schema: public; Owner: crisis_user
--

CREATE TYPE public.volatility_group AS ENUM (
    'high',
    'medium',
    'low'
);


ALTER TYPE public.volatility_group OWNER TO crisis_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: _migrations; Type: TABLE; Schema: public; Owner: crisis_user
--

CREATE TABLE public._migrations (
    id integer NOT NULL,
    filename character varying(255) NOT NULL,
    applied_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public._migrations OWNER TO crisis_user;

--
-- Name: _migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: crisis_user
--

CREATE SEQUENCE public._migrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public._migrations_id_seq OWNER TO crisis_user;

--
-- Name: _migrations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: crisis_user
--

ALTER SEQUENCE public._migrations_id_seq OWNED BY public._migrations.id;


--
-- Name: admin_users; Type: TABLE; Schema: public; Owner: crisis_user
--

CREATE TABLE public.admin_users (
    id integer NOT NULL,
    hospital_id integer NOT NULL,
    username character varying(100) NOT NULL,
    hashed_password character varying(255) NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.admin_users OWNER TO crisis_user;

--
-- Name: admin_users_id_seq; Type: SEQUENCE; Schema: public; Owner: crisis_user
--

CREATE SEQUENCE public.admin_users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.admin_users_id_seq OWNER TO crisis_user;

--
-- Name: admin_users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: crisis_user
--

ALTER SEQUENCE public.admin_users_id_seq OWNED BY public.admin_users.id;


--
-- Name: hospitals; Type: TABLE; Schema: public; Owner: crisis_user
--

CREATE TABLE public.hospitals (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    geom public.geography(Point,4326) NOT NULL,
    address character varying(500),
    phone character varying(100),
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    tier smallint DEFAULT 1 NOT NULL,
    CONSTRAINT hospitals_tier_check CHECK (((tier >= 1) AND (tier <= 3)))
);


ALTER TABLE public.hospitals OWNER TO crisis_user;

--
-- Name: COLUMN hospitals.tier; Type: COMMENT; Schema: public; Owner: crisis_user
--

COMMENT ON COLUMN public.hospitals.tier IS 'Hospital tier per PRD §4: 1=Urban hub, 2=District, 3=Rural. Controls Poisson λ in simulation worker (§12) and QueueDelay weight (§7).';


--
-- Name: hospitals_id_seq; Type: SEQUENCE; Schema: public; Owner: crisis_user
--

CREATE SEQUENCE public.hospitals_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.hospitals_id_seq OWNER TO crisis_user;

--
-- Name: hospitals_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: crisis_user
--

ALTER SEQUENCE public.hospitals_id_seq OWNED BY public.hospitals.id;


--
-- Name: incidents; Type: TABLE; Schema: public; Owner: crisis_user
--

CREATE TABLE public.incidents (
    id bigint NOT NULL,
    triage_category public.triage_category NOT NULL,
    scene_lat double precision NOT NULL,
    scene_lng double precision NOT NULL,
    scene_location public.geography(Point,4326) NOT NULL,
    status public.incident_status DEFAULT 'pending'::public.incident_status NOT NULL,
    secondary_transfer_flag boolean DEFAULT false NOT NULL,
    routed_hospital_id integer,
    tdc_seconds integer,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    resolved_at timestamp with time zone,
    CONSTRAINT incidents_scene_lat_check CHECK (((scene_lat >= ('-90'::integer)::double precision) AND (scene_lat <= (90)::double precision))),
    CONSTRAINT incidents_scene_lng_check CHECK (((scene_lng >= ('-180'::integer)::double precision) AND (scene_lng <= (180)::double precision)))
);


ALTER TABLE public.incidents OWNER TO crisis_user;

--
-- Name: TABLE incidents; Type: COMMENT; Schema: public; Owner: crisis_user
--

COMMENT ON TABLE public.incidents IS 'One row per emergency incident. Drives triage→routing→reservation→handshake lifecycle per PRD §§6–10. Used by evaluation harness (§15) for TDC and secondary-transfer-rate metrics.';


--
-- Name: incidents_id_seq; Type: SEQUENCE; Schema: public; Owner: crisis_user
--

CREATE SEQUENCE public.incidents_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.incidents_id_seq OWNER TO crisis_user;

--
-- Name: incidents_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: crisis_user
--

ALTER SEQUENCE public.incidents_id_seq OWNED BY public.incidents.id;


--
-- Name: query_log; Type: TABLE; Schema: public; Owner: crisis_user
--

CREATE TABLE public.query_log (
    id bigint NOT NULL,
    patient_location public.geography(Point,4326) NOT NULL,
    requested_resources public.resource_type_enum[] NOT NULL,
    matched_hospital_id integer,
    baseline_hospital_id integer,
    search_radius_used_km numeric(6,2),
    db_query_time_ms integer,
    routing_api_time_ms integer,
    response_time_ms integer,
    "timestamp" timestamp with time zone DEFAULT now() NOT NULL,
    incident_id bigint,
    triage_category public.triage_category,
    routing_mode text DEFAULT 'resource_aware'::text,
    secondary_transfer_flag boolean DEFAULT false NOT NULL,
    CONSTRAINT query_log_routing_mode_check CHECK ((routing_mode = ANY (ARRAY['resource_aware'::text, 'naive_nearest'::text])))
);


ALTER TABLE public.query_log OWNER TO crisis_user;

--
-- Name: query_log_id_seq; Type: SEQUENCE; Schema: public; Owner: crisis_user
--

CREATE SEQUENCE public.query_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.query_log_id_seq OWNER TO crisis_user;

--
-- Name: query_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: crisis_user
--

ALTER SEQUENCE public.query_log_id_seq OWNED BY public.query_log.id;


--
-- Name: reservations; Type: TABLE; Schema: public; Owner: crisis_user
--

CREATE TABLE public.reservations (
    id bigint NOT NULL,
    incident_id bigint NOT NULL,
    hospital_id integer NOT NULL,
    resource_type public.resource_type_enum NOT NULL,
    quantity integer NOT NULL,
    status public.reservation_status DEFAULT 'pending'::public.reservation_status NOT NULL,
    reserved_at timestamp with time zone DEFAULT now() NOT NULL,
    expires_at timestamp with time zone DEFAULT (now() + '00:15:00'::interval) NOT NULL,
    CONSTRAINT reservations_quantity_check CHECK ((quantity > 0))
);


ALTER TABLE public.reservations OWNER TO crisis_user;

--
-- Name: TABLE reservations; Type: COMMENT; Schema: public; Owner: crisis_user
--

COMMENT ON TABLE public.reservations IS 'Soft reservations per PRD §9. quantity_available is never decremented here — only on confirmed ACK. Effective availability computed via resource_effective_availability view.';


--
-- Name: reservations_id_seq; Type: SEQUENCE; Schema: public; Owner: crisis_user
--

CREATE SEQUENCE public.reservations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.reservations_id_seq OWNER TO crisis_user;

--
-- Name: reservations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: crisis_user
--

ALTER SEQUENCE public.reservations_id_seq OWNED BY public.reservations.id;


--
-- Name: resources; Type: TABLE; Schema: public; Owner: crisis_user
--

CREATE TABLE public.resources (
    id integer NOT NULL,
    hospital_id integer NOT NULL,
    resource_type public.resource_type_enum NOT NULL,
    quantity_available integer DEFAULT 0 NOT NULL,
    last_updated_at timestamp with time zone DEFAULT now() NOT NULL,
    staleness_threshold_minutes integer DEFAULT 30 NOT NULL,
    volatility_group public.volatility_group DEFAULT 'medium'::public.volatility_group NOT NULL
);


ALTER TABLE public.resources OWNER TO crisis_user;

--
-- Name: COLUMN resources.volatility_group; Type: COMMENT; Schema: public; Owner: crisis_user
--

COMMENT ON COLUMN public.resources.volatility_group IS 'Resource volatility per PRD §5. Determines Poisson λ tier in the simulation worker tick (§12). Matched with hospital.tier at simulation time.';


--
-- Name: resource_effective_availability; Type: VIEW; Schema: public; Owner: crisis_user
--

CREATE VIEW public.resource_effective_availability AS
 SELECT r.id AS resource_id,
    r.hospital_id,
    r.resource_type,
    r.volatility_group,
    r.quantity_available,
    r.last_updated_at,
    r.staleness_threshold_minutes,
    COALESCE(rsv.reserved_qty, (0)::bigint) AS reserved_quantity,
    GREATEST((0)::bigint, (r.quantity_available - COALESCE(rsv.reserved_qty, (0)::bigint))) AS effective_available
   FROM (public.resources r
     LEFT JOIN ( SELECT reservations.hospital_id,
            reservations.resource_type,
            sum(reservations.quantity) AS reserved_qty
           FROM public.reservations
          WHERE ((reservations.status = ANY (ARRAY['pending'::public.reservation_status, 'confirmed'::public.reservation_status])) AND (reservations.expires_at > now()))
          GROUP BY reservations.hospital_id, reservations.resource_type) rsv ON (((rsv.hospital_id = r.hospital_id) AND (rsv.resource_type = r.resource_type))));


ALTER VIEW public.resource_effective_availability OWNER TO crisis_user;

--
-- Name: VIEW resource_effective_availability; Type: COMMENT; Schema: public; Owner: crisis_user
--

COMMENT ON VIEW public.resource_effective_availability IS 'Canonical V2 availability view per PRD §9. effective_available = quantity_available − SUM(active non-expired reservations). Always use this (or the equivalent inline subquery) for routing decisions. Never read resources.quantity_available directly.';


--
-- Name: resources_id_seq; Type: SEQUENCE; Schema: public; Owner: crisis_user
--

CREATE SEQUENCE public.resources_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.resources_id_seq OWNER TO crisis_user;

--
-- Name: resources_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: crisis_user
--

ALTER SEQUENCE public.resources_id_seq OWNED BY public.resources.id;


--
-- Name: _migrations id; Type: DEFAULT; Schema: public; Owner: crisis_user
--

ALTER TABLE ONLY public._migrations ALTER COLUMN id SET DEFAULT nextval('public._migrations_id_seq'::regclass);


--
-- Name: admin_users id; Type: DEFAULT; Schema: public; Owner: crisis_user
--

ALTER TABLE ONLY public.admin_users ALTER COLUMN id SET DEFAULT nextval('public.admin_users_id_seq'::regclass);


--
-- Name: hospitals id; Type: DEFAULT; Schema: public; Owner: crisis_user
--

ALTER TABLE ONLY public.hospitals ALTER COLUMN id SET DEFAULT nextval('public.hospitals_id_seq'::regclass);


--
-- Name: incidents id; Type: DEFAULT; Schema: public; Owner: crisis_user
--

ALTER TABLE ONLY public.incidents ALTER COLUMN id SET DEFAULT nextval('public.incidents_id_seq'::regclass);


--
-- Name: query_log id; Type: DEFAULT; Schema: public; Owner: crisis_user
--

ALTER TABLE ONLY public.query_log ALTER COLUMN id SET DEFAULT nextval('public.query_log_id_seq'::regclass);


--
-- Name: reservations id; Type: DEFAULT; Schema: public; Owner: crisis_user
--

ALTER TABLE ONLY public.reservations ALTER COLUMN id SET DEFAULT nextval('public.reservations_id_seq'::regclass);


--
-- Name: resources id; Type: DEFAULT; Schema: public; Owner: crisis_user
--

ALTER TABLE ONLY public.resources ALTER COLUMN id SET DEFAULT nextval('public.resources_id_seq'::regclass);


--
-- Data for Name: _migrations; Type: TABLE DATA; Schema: public; Owner: crisis_user
--



--
-- Data for Name: admin_users; Type: TABLE DATA; Schema: public; Owner: crisis_user
--

COPY public.admin_users (id, hospital_id, username, hashed_password, created_at) FROM stdin;
16	1	admin	$2b$12$DCmxaarMDkKGU/3wm0KMd.WvHcxHivAJQ/2.WeoLmWggghKw8662y	2026-09-20 15:03:56.958077+00
\.


--
-- Data for Name: hospitals; Type: TABLE DATA; Schema: public; Owner: crisis_user
--



--
-- Data for Name: incidents; Type: TABLE DATA; Schema: public; Owner: crisis_user
--



--
-- Data for Name: query_log; Type: TABLE DATA; Schema: public; Owner: crisis_user
--



--
-- Data for Name: reservations; Type: TABLE DATA; Schema: public; Owner: crisis_user
--



--
-- Data for Name: resources; Type: TABLE DATA; Schema: public; Owner: crisis_user
--



--
-- Data for Name: spatial_ref_sys; Type: TABLE DATA; Schema: public; Owner: crisis_user
--

COPY public.spatial_ref_sys (srid, auth_name, auth_srid, srtext, proj4text) FROM stdin;
\.


--
-- Data for Name: geocode_settings; Type: TABLE DATA; Schema: tiger; Owner: crisis_user
--

COPY tiger.geocode_settings (name, setting, unit, category, short_desc) FROM stdin;
\.


--
-- Data for Name: pagc_gaz; Type: TABLE DATA; Schema: tiger; Owner: crisis_user
--

COPY tiger.pagc_gaz (id, seq, word, stdword, token, is_custom) FROM stdin;
\.


--
-- Data for Name: pagc_lex; Type: TABLE DATA; Schema: tiger; Owner: crisis_user
--

COPY tiger.pagc_lex (id, seq, word, stdword, token, is_custom) FROM stdin;
\.


--
-- Data for Name: pagc_rules; Type: TABLE DATA; Schema: tiger; Owner: crisis_user
--

COPY tiger.pagc_rules (id, rule, is_custom) FROM stdin;
\.


--
-- Data for Name: topology; Type: TABLE DATA; Schema: topology; Owner: crisis_user
--

COPY topology.topology (id, name, srid, "precision", hasz) FROM stdin;
\.


--
-- Data for Name: layer; Type: TABLE DATA; Schema: topology; Owner: crisis_user
--

COPY topology.layer (topology_id, layer_id, schema_name, table_name, feature_column, feature_type, level, child_id) FROM stdin;
\.


--
-- Name: _migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: crisis_user
--

SELECT pg_catalog.setval('public._migrations_id_seq', 10, true);


--
-- Name: admin_users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: crisis_user
--

SELECT pg_catalog.setval('public.admin_users_id_seq', 17, true);


--
-- Name: hospitals_id_seq; Type: SEQUENCE SET; Schema: public; Owner: crisis_user
--

SELECT pg_catalog.setval('public.hospitals_id_seq', 41, true);


--
-- Name: incidents_id_seq; Type: SEQUENCE SET; Schema: public; Owner: crisis_user
--

SELECT pg_catalog.setval('public.incidents_id_seq', 41, true);


--
-- Name: query_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: crisis_user
--

SELECT pg_catalog.setval('public.query_log_id_seq', 80, true);


--
-- Name: reservations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: crisis_user
--

SELECT pg_catalog.setval('public.reservations_id_seq', 158, true);


--
-- Name: resources_id_seq; Type: SEQUENCE SET; Schema: public; Owner: crisis_user
--

SELECT pg_catalog.setval('public.resources_id_seq', 1476, true);


--
-- Name: topology_id_seq; Type: SEQUENCE SET; Schema: topology; Owner: crisis_user
--

SELECT pg_catalog.setval('topology.topology_id_seq', 1, false);


--
-- Name: _migrations _migrations_filename_key; Type: CONSTRAINT; Schema: public; Owner: crisis_user
--

ALTER TABLE ONLY public._migrations
    ADD CONSTRAINT _migrations_filename_key UNIQUE (filename);


--
-- Name: _migrations _migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: crisis_user
--

ALTER TABLE ONLY public._migrations
    ADD CONSTRAINT _migrations_pkey PRIMARY KEY (id);


--
-- Name: admin_users admin_users_pkey; Type: CONSTRAINT; Schema: public; Owner: crisis_user
--

ALTER TABLE ONLY public.admin_users
    ADD CONSTRAINT admin_users_pkey PRIMARY KEY (id);


--
-- Name: admin_users admin_users_username_key; Type: CONSTRAINT; Schema: public; Owner: crisis_user
--

ALTER TABLE ONLY public.admin_users
    ADD CONSTRAINT admin_users_username_key UNIQUE (username);


--
-- Name: hospitals hospitals_pkey; Type: CONSTRAINT; Schema: public; Owner: crisis_user
--

ALTER TABLE ONLY public.hospitals
    ADD CONSTRAINT hospitals_pkey PRIMARY KEY (id);


--
-- Name: incidents incidents_pkey; Type: CONSTRAINT; Schema: public; Owner: crisis_user
--

ALTER TABLE ONLY public.incidents
    ADD CONSTRAINT incidents_pkey PRIMARY KEY (id);


--
-- Name: query_log query_log_pkey; Type: CONSTRAINT; Schema: public; Owner: crisis_user
--

ALTER TABLE ONLY public.query_log
    ADD CONSTRAINT query_log_pkey PRIMARY KEY (id);


--
-- Name: reservations reservations_pkey; Type: CONSTRAINT; Schema: public; Owner: crisis_user
--

ALTER TABLE ONLY public.reservations
    ADD CONSTRAINT reservations_pkey PRIMARY KEY (id);


--
-- Name: resources resources_hospital_id_resource_type_key; Type: CONSTRAINT; Schema: public; Owner: crisis_user
--

ALTER TABLE ONLY public.resources
    ADD CONSTRAINT resources_hospital_id_resource_type_key UNIQUE (hospital_id, resource_type);


--
-- Name: resources resources_pkey; Type: CONSTRAINT; Schema: public; Owner: crisis_user
--

ALTER TABLE ONLY public.resources
    ADD CONSTRAINT resources_pkey PRIMARY KEY (id);


--
-- Name: hospitals_geom_idx; Type: INDEX; Schema: public; Owner: crisis_user
--

CREATE INDEX hospitals_geom_idx ON public.hospitals USING gist (geom);


--
-- Name: hospitals_tier_idx; Type: INDEX; Schema: public; Owner: crisis_user
--

CREATE INDEX hospitals_tier_idx ON public.hospitals USING btree (tier);


--
-- Name: idx_hospitals_geom; Type: INDEX; Schema: public; Owner: crisis_user
--

CREATE INDEX idx_hospitals_geom ON public.hospitals USING gist (geom);


--
-- Name: idx_query_log_timestamp; Type: INDEX; Schema: public; Owner: crisis_user
--

CREATE INDEX idx_query_log_timestamp ON public.query_log USING btree ("timestamp");


--
-- Name: idx_resources_type_qty; Type: INDEX; Schema: public; Owner: crisis_user
--

CREATE INDEX idx_resources_type_qty ON public.resources USING btree (resource_type, quantity_available);


--
-- Name: incidents_created_at_idx; Type: INDEX; Schema: public; Owner: crisis_user
--

CREATE INDEX incidents_created_at_idx ON public.incidents USING btree (created_at DESC);


--
-- Name: incidents_scene_location_idx; Type: INDEX; Schema: public; Owner: crisis_user
--

CREATE INDEX incidents_scene_location_idx ON public.incidents USING gist (scene_location);


--
-- Name: incidents_status_idx; Type: INDEX; Schema: public; Owner: crisis_user
--

CREATE INDEX incidents_status_idx ON public.incidents USING btree (status) WHERE (status <> ALL (ARRAY['completed'::public.incident_status, 'cancelled'::public.incident_status]));


--
-- Name: query_log_incident_id_idx; Type: INDEX; Schema: public; Owner: crisis_user
--

CREATE INDEX query_log_incident_id_idx ON public.query_log USING btree (incident_id) WHERE (incident_id IS NOT NULL);


--
-- Name: query_log_timestamp_idx; Type: INDEX; Schema: public; Owner: crisis_user
--

CREATE INDEX query_log_timestamp_idx ON public.query_log USING btree ("timestamp" DESC);


--
-- Name: reservations_availability_idx; Type: INDEX; Schema: public; Owner: crisis_user
--

CREATE INDEX reservations_availability_idx ON public.reservations USING btree (hospital_id, resource_type, status, expires_at) WHERE (status = ANY (ARRAY['pending'::public.reservation_status, 'confirmed'::public.reservation_status]));


--
-- Name: reservations_incident_id_idx; Type: INDEX; Schema: public; Owner: crisis_user
--

CREATE INDEX reservations_incident_id_idx ON public.reservations USING btree (incident_id);


--
-- Name: resources_hospital_id_idx; Type: INDEX; Schema: public; Owner: crisis_user
--

CREATE INDEX resources_hospital_id_idx ON public.resources USING btree (hospital_id);


--
-- Name: resources_volatility_group_idx; Type: INDEX; Schema: public; Owner: crisis_user
--

CREATE INDEX resources_volatility_group_idx ON public.resources USING btree (volatility_group);


--
-- Name: admin_users admin_users_hospital_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: crisis_user
--

ALTER TABLE ONLY public.admin_users
    ADD CONSTRAINT admin_users_hospital_id_fkey FOREIGN KEY (hospital_id) REFERENCES public.hospitals(id) ON DELETE CASCADE;


--
-- Name: incidents incidents_routed_hospital_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: crisis_user
--

ALTER TABLE ONLY public.incidents
    ADD CONSTRAINT incidents_routed_hospital_id_fkey FOREIGN KEY (routed_hospital_id) REFERENCES public.hospitals(id) ON DELETE SET NULL;


--
-- Name: query_log query_log_baseline_hospital_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: crisis_user
--

ALTER TABLE ONLY public.query_log
    ADD CONSTRAINT query_log_baseline_hospital_id_fkey FOREIGN KEY (baseline_hospital_id) REFERENCES public.hospitals(id) ON DELETE SET NULL;


--
-- Name: query_log query_log_incident_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: crisis_user
--

ALTER TABLE ONLY public.query_log
    ADD CONSTRAINT query_log_incident_id_fkey FOREIGN KEY (incident_id) REFERENCES public.incidents(id) ON DELETE SET NULL;


--
-- Name: query_log query_log_matched_hospital_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: crisis_user
--

ALTER TABLE ONLY public.query_log
    ADD CONSTRAINT query_log_matched_hospital_id_fkey FOREIGN KEY (matched_hospital_id) REFERENCES public.hospitals(id) ON DELETE SET NULL;


--
-- Name: reservations reservations_hospital_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: crisis_user
--

ALTER TABLE ONLY public.reservations
    ADD CONSTRAINT reservations_hospital_id_fkey FOREIGN KEY (hospital_id) REFERENCES public.hospitals(id) ON DELETE CASCADE;


--
-- Name: reservations reservations_incident_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: crisis_user
--

ALTER TABLE ONLY public.reservations
    ADD CONSTRAINT reservations_incident_id_fkey FOREIGN KEY (incident_id) REFERENCES public.incidents(id) ON DELETE CASCADE;


--
-- Name: resources resources_hospital_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: crisis_user
--

ALTER TABLE ONLY public.resources
    ADD CONSTRAINT resources_hospital_id_fkey FOREIGN KEY (hospital_id) REFERENCES public.hospitals(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict MoEgyuUAjXqvwFE5rLNngm8xGteYSM2fddxmgjtXXmEDZkk2k7wKJ10Wgg8VxFY

